@import "./includes/variabiles.scss";

@import "./windows_tile.scss";
@import "./simple_buttons.scss";

*,
*::after,
*::before {
  --webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #282a2c;
}

#app {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fafafa;
  font-size: 30px;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #282a2c;
}

html::-webkit-scrollbar-thumb {
  background-color: #4b83bc;
  border-radius: 100vw;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles for different screen sizes */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
