.tile-red {
  background-color: #e84e40;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #dd191d;
  }

  &:focus {
    background-color: #d01716;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #c41411;
  }
}

.tile-red-reverse {
  background-color: #e84e40;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #e84e40;
    }
  }
}

.tile-red-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #e84e40;
  }
}

.tile-red-inverse-reverse {
  .tile-content,
  .window-title {
    color: #e84e40;
  }

  &:hover {
    background-color: #e84e40;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #c41411;
  }
}

.tile-pink {
  background-color: #ec407a;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #d81b60;
  }

  &:focus {
    background-color: #c2185b;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #ad1457;
  }
}

.tile-pink-reverse {
  background-color: #ec407a;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #ec407a;
    }
  }
}

.tile-pink-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #ec407a;
  }
}

.tile-pink-inverse-reverse {
  .tile-content,
  .window-title {
    color: #ec407a;
  }

  &:hover {
    background-color: #ec407a;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #ad1457;
  }
}

.tile-purple {
  background-color: #ab47bc;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #8e24aa;
  }

  &:focus {
    background-color: #7b1fa2;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #6a1b9a;
  }
}

.tile-purple-reverse {
  background-color: #ab47bc;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #ab47bc;
    }
  }
}

.tile-purple-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #ab47bc;
  }
}

.tile-purple-inverse-reverse {
  .tile-content,
  .window-title {
    color: #ab47bc;
  }

  &:hover {
    background-color: #ab47bc;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #6a1b9a;
  }
}

.tile-deep-purple {
  background-color: #7e57c2;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #5e35b1;
  }

  &:focus {
    background-color: #512da8;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #4527a0;
  }
}

.tile-deep-purple-reverse {
  background-color: #7e57c2;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #7e57c2;
    }
  }
}

.tile-deep-purple-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #7e57c2;
  }
}

.tile-deep-purple-inverse-reverse {
  .tile-content,
  .window-title {
    color: #7e57c2;
  }

  &:hover {
    background-color: #7e57c2;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #4527a0;
  }
}

.tile-indigo {
  background-color: #5c6bc0;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #3949ab;
  }

  &:focus {
    background-color: #303f9f;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #283593;
  }
}

.tile-indigo-reverse {
  background-color: #5c6bc0;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #5c6bc0;
    }
  }
}

.tile-indigo-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #5c6bc0;
  }
}

.tile-indigo-inverse-reverse {
  .tile-content,
  .window-title {
    color: #5c6bc0;
  }

  &:hover {
    background-color: #5c6bc0;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #283593;
  }
}

.tile-blue {
  background-color: #738ffe;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #4e6cef;
  }

  &:focus {
    background-color: #455ede;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #3b50ce;
  }
}

.tile-blue-reverse {
  background-color: #738ffe;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #738ffe;
    }
  }
}

.tile-blue-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #738ffe;
  }
}

.tile-blue-inverse-reverse {
  .tile-content,
  .window-title {
    color: #738ffe;
  }

  &:hover {
    background-color: #738ffe;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #3b50ce;
  }
}

.tile-light-blue {
  background-color: #29b6f6;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #039be5;
  }

  &:focus {
    background-color: #0288d1;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #0277bd;
  }
}

.tile-light-blue-reverse {
  background-color: #29b6f6;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #29b6f6;
    }
  }
}

.tile-light-blue-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #29b6f6;
  }
}

.tile-light-blue-inverse-reverse {
  .tile-content,
  .window-title {
    color: #29b6f6;
  }

  &:hover {
    background-color: #29b6f6;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #0277bd;
  }
}

.tile-cyan {
  background-color: #26c6da;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #00acc1;
  }

  &:focus {
    background-color: #0097a7;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #00838f;
  }
}

.tile-cyan-reverse {
  background-color: #26c6da;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #26c6da;
    }
  }
}

.tile-cyan-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #26c6da;
  }
}

.tile-cyan-inverse-reverse {
  .tile-content,
  .window-title {
    color: #26c6da;
  }

  &:hover {
    background-color: #26c6da;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #00838f;
  }
}

.tile-teal {
  background-color: #26a69a;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #00897b;
  }

  &:focus {
    background-color: #00796b;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #00695c;
  }
}

.tile-teal-reverse {
  background-color: #26a69a;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #26a69a;
    }
  }
}

.tile-teal-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #26a69a;
  }
}

.tile-teal-inverse-reverse {
  .tile-content,
  .window-title {
    color: #26a69a;
  }

  &:hover {
    background-color: #26a69a;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #00695c;
  }
}

.tile-green {
  background-color: #2baf2b;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #0a8f08;
  }

  &:focus {
    background-color: #0a7e07;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #0a7e07;
  }
}

.tile-green-reverse {
  background-color: #2baf2b;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #2baf2b;
    }
  }
}

.tile-green-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #2baf2b;
  }
}

.tile-green-inverse-reverse {
  .tile-content,
  .window-title {
    color: #2baf2b;
  }

  &:hover {
    background-color: #2baf2b;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #0a7e07;
  }
}

.tile-light-green {
  background-color: #9ccc65;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #7cb342;
  }

  &:focus {
    background-color: #689f38;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #558b2f;
  }
}

.tile-light-green-reverse {
  background-color: #9ccc65;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #9ccc65;
    }
  }
}

.tile-light-green-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #9ccc65;
  }
}

.tile-light-green-inverse-reverse {
  .tile-content,
  .window-title {
    color: #9ccc65;
  }

  &:hover {
    background-color: #9ccc65;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #558b2f;
  }
}

.tile-lime {
  background-color: #d4e157;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #c0ca33;
  }

  &:focus {
    background-color: #afb42b;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #9e9d24;
  }
}

.tile-lime-reverse {
  background-color: #d4e157;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #d4e157;
    }
  }
}

.tile-lime-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #d4e157;
  }
}

.tile-lime-inverse-reverse {
  .tile-content,
  .window-title {
    color: #d4e157;
  }

  &:hover {
    background-color: #d4e157;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #9e9d24;
  }
}

.tile-yellow {
  background-color: #ffee58;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #fdd835;
  }

  &:focus {
    background-color: #fbc02d;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #f9a825;
  }
}

.tile-yellow-reverse {
  background-color: #ffee58;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #ffee58;
    }
  }
}

.tile-yellow-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #ffee58;
  }
}

.tile-yellow-inverse-reverse {
  .tile-content,
  .window-title {
    color: #ffee58;
  }

  &:hover {
    background-color: #ffee58;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #f9a825;
  }
}

.tile-amber {
  background-color: #ffca28;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #ffb300;
  }

  &:focus {
    background-color: #ffa000;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #ff8f00;
  }
}

.tile-amber-reverse {
  background-color: #ffca28;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #ffca28;
    }
  }
}

.tile-amber-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #ffca28;
  }
}

.tile-amber-inverse-reverse {
  .tile-content,
  .window-title {
    color: #ffca28;
  }

  &:hover {
    background-color: #ffca28;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #ff8f00;
  }
}

.tile-orange {
  background-color: #ffa726;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #fb8c00;
  }

  &:focus {
    background-color: #f57c00;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #ef6c00;
  }
}

.tile-orange-reverse {
  background-color: #ffa726;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #ffa726;
    }
  }
}

.tile-orange-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #ffa726;
  }
}

.tile-orange-inverse-reverse {
  .tile-content,
  .window-title {
    color: #ffa726;
  }

  &:hover {
    background-color: #ffa726;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #ef6c00;
  }
}

.tile-deep-orange {
  background-color: #ff7043;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #f4511e;
  }

  &:focus {
    background-color: #e64a19;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #d84315;
  }
}

.tile-deep-orange-reverse {
  background-color: #ff7043;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #ff7043;
    }
  }
}

.tile-deep-orange-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #ff7043;
  }
}

.tile-deep-orange-inverse-reverse {
  .tile-content,
  .window-title {
    color: #ff7043;
  }

  &:hover {
    background-color: #ff7043;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #d84315;
  }
}

.tile-brown {
  background-color: #8d6e63;

  .tile-content,
  .window-title {
    color: #eceff1;
  }

  &:hover,
  &:active,
  &.active {
    background-color: #6d4c41;
  }

  &:focus {
    background-color: #5d4037;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: #b3b3b3;
  }

  .ink {
    background-color: #4e342e;
  }
}

.tile-brown-reverse {
  background-color: #8d6e63;

  &:hover {
    background-color: #eceff1;

    .tile-content,
    .window-title {
      color: #8d6e63;
    }
  }
}

.tile-brown-inverse {
  background-color: #eceff1;

  .tile-content,
  .window-title {
    color: #8d6e63;
  }
}

.tile-brown-inverse-reverse {
  .tile-content,
  .window-title {
    color: #8d6e63;
  }

  &:hover {
    background-color: #8d6e63;

    .tile-content,
    .window-title {
      color: #eceff1;
    }
  }

  .ink {
    background-color: #4e342e;
  }
}
